:root {
  --mainWhite: #edfcfb;
  --mainDark: #030516;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  
}