:root {
  --mainWhite: #edfcfb;
  --mainDark: #030516;
  --mainBlue: #007bff;
  --lightBlue: #bdd0fc;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

